@font-face {
  font-family: "Ownglyph_UNZ-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/Ownglyph_UNZ-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ownglyph_ryuttung-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  background-color: #f8f8f8;

  width: 100%;
  height: 100vh;

  font-family: "Ownglyph_ryuttung-Rg", sans-serif;
}
